@font-face {
     font-family: 'ChineseTakeaway';
     src: url('/fonts/chinesetakeaway-webfont.woff2') format('woff2'),
          url('/fonts/chinesetakeaway-webfont.woff') format('woff'),
          url('/fonts/CHINESETAKEAWAY.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'ChineseMSYH';
     src: url('/fonts/chinese.msyh.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 
 .font-chinese {
     font-family: 'ChineseTakeaway', sans-serif;
 }
 
 .font-chinese-msyh {
     font-family: 'ChineseMSYH', sans-serif;
 }
 